<form method=get action='/bookmarks'>
  <input type=submit value="view all">
</form>

<form method="post" action="/added">
  <input type="text" name="url" placeholder="URL">
  <input type="text" name="title" placeholder="title">
  <input type="submit" value="add">
</form>
